@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Source+Sans+Pro:wght@700&display=swap');
@font-face {
    font-family: TTNorms-Bold;
    src: url('fonts/TTNorms-Bold.otf');
}

body {
    line-height: 30px;
    font-size: 18px;
    background: #fff;
    color: #000000;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-family: TTNorms-Bold;
    font-weight: 700;
}

h2,
h3,
h4,
h5 {
    font-family: TTNorms-Bold;
    font-weight: 700;
}

p,
ul {
    margin: 0px;
    margin-bottom: 20px;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}

.btn {
    font-family: 'Source Sans Pro', sans-serif;
}

.btn:focus {
    outline: none;
    box-shadow: none !important;
}



.btn{
    color: #fff;
    border-radius: 0px;
    position: relative;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.btn::after{
    font-family: 'fontAwesome';
    content: '\f178' ;
    margin-left: 20px;
    position: absolute;
    right: 50px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

/* .btn:hover:after{
    right: 40px;
} */

/* * Section */

.section {
    padding-top: 80px;
    text-align: left;
}

.section h2 {
    margin-bottom: 20px;
    color: inherit;
    font-size: 54px;
}

.section h2:first-child {
    margin-top: 0px;
    margin-bottom: 20px;
    color: inherit;
}

.section p:last-child,
.section ul:last-child {
    margin-bottom: 0px;
}

.section-padding {
    padding: 0px 120px;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.top-space {
    margin-top: 35px;
}


/* header */

header {
    position: absolute;
    width: 100%;
    z-index: 10;
    opacity: 1;
    top: 0;
}

header .header-padding {
    padding: 35px 120px 0px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

header .navbar-brand img {
    position: relative;
    background-color: transparent;
    width: 350px;
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}

.navbar-nav {
    margin-bottom: 0px;
    border-radius: 0px;
    min-height: 30px;
    border: none;
    padding: 0px 0px;
    position: relative;
    transition: ease 0.5s;
}

.navbar-nav>li {
    padding: 0px 33px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.navbar-nav>li.nav-glass{
    padding: 0px 0px;
    padding-left: 33px;
}

.navbar-nav>li>a {
    color: #fff;
    padding: 0px 0px;
    transition: ease 0.3s;
    border-color: transparent;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 8px 0px;
}

.navbar-nav>.active>a,
.navbar-nav>.active>a:hover,
.navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-nav .glass-claim {
    /* background: linear-gradient(46deg,#05499c 10%,#0aa9db 100%); */
    background: linear-gradient(46deg,#05499c,rgba(0,0,0,0),#0aa9db);
    background-color: #05499c;
    padding: 25px 30px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;

}

.navbar-nav .glass-claim:hover{
    background-color: #0aa9db;
    transition: ease .3s;
}

header .navbar ul {
    list-style-type: none;
    padding-right: 0px;
}


.navbar-toggle {
    border-color: #000;
    margin: 25px 15px;
    background-color: #fff;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #fff;
}

.navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-toggler {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 0.8rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    display: GRID;
    width: 1.5em;
    height: 3px;
    background-size: 100%;
    background: #000;
    height: 2px;
    margin: 5px 1px;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: linear-gradient(
        46deg,#05499c 10%,#0aa9db 100%);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}


/** Sticky */

header.sticky {
    position: fixed;
    color: #131313;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

header.sticky .header-padding{
    padding: 10px 120px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

header.sticky .navbar {
    background-color: #131313 !important;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}

header.sticky-mobile .navbar {
    background-color: #fff !important;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    position: fixed;
    width: 100%;
}

header.sticky .navbar-brand img {
    width: 300px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}


/* title-area */

.title-area {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding-top: 120px;
}

.title-area .content {
    padding: 340px 0px 150px;
}

.title-area .content h1 {
    font-size: 120px;
    color: #fff;
    font-family: TTNorms-Bold;
    font-weight: 100;
}


/* home-banner */

.home-banner {
    padding-top: 128px;
    background-image: url('../img/main-image.jpg');
    color: #fff;
    background-size: cover;
    background-position: 50% 50%;
}

.home-banner .content-area {
    padding: 225px 0px;
}

.home-banner .content-area h1{
    font-size: 50px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}
.home-banner .content-area h2{
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 60px;
}

.home-banner .content-area .btn-area a{
    color: #fff;
}

.home-banner .content-area .btn-area .btn-phone{
    font-size: 28px;
    background: linear-gradient(46deg,#05499c,rgba(0,0,0,0),#0aa9db);
    background-color: #05499c;
    padding: 20px 50px;
    position: relative;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.home-banner .content-area .btn-area .btn-phone:hover{
    background-color: #0aa9db;
    transition: ease .3s;
}

.home-banner .content-area .btn-area .btn-phone::after{
    display: none;
}

.home-banner .content-area .btn-area .btn-phone::before{
    font-family: 'fontAwesome';
    content: '\f095' ;
    margin-right: 20px;
}

.home-banner .content-area .btn-area .btn-quote{
    border: 1px solid #fff;
    padding: 18px 90px 18px 50px;
    font-size: 28px;
    margin-left: 40px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    position: relative;
}


.home-banner .content-area .btn-area .btn-quote::after{
    font-family: 'fontAwesome';
    content: '\f178' ;
    margin-left: 20px;
    position: absolute;
    right: 50px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.home-banner .content-area .btn-area .btn-quote:hover::after{
    right: 40px;
}


/* home-intro */

.home-intro{
    text-align: center;
}

.home-intro .content-area h2{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: normal;
    margin: 0px;
}

.home-intro .content-area h3{
    font-size: 100px;
    margin-bottom: 35px;
}

.home-intro .content-area p{
    margin: 5px;
}

.home-intro .content-area .btn-more{
    background: linear-gradient(46deg,#05499c,rgba(0,0,0,0),#0aa9db);
    background-color: #05499c;
    color: #fff;
    border-radius: 0px;
    padding: 25px 90px 25px 60px;
    position: relative;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    margin-top: 35px;
}

.home-intro .content-area .btn-more:hover{
    background-color: #0aa9db;
    transition: ease .3s;
}

.home-intro .content-area .btn-more::after{
    transition: 0.3s ease-in-out;
    font-family: 'fontAwesome';
    content: '\f178' ;
    margin-left: 20px;
    position: absolute;
    right: 60px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.home-intro .content-area .btn-more:hover::after{
    right: 50px;
}

/* home-services */

.home-services{
    text-align: left;
    color: #fff;
}

.home-services .image-area{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.home-services .bg-services{
    background: linear-gradient(180deg, #131313 85%, #fff 40%);
    margin-top: -50px;
}

.home-services .content-area h2{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: normal;
    margin: 0px;
}

.home-services .content-area h3{
    font-size: 100px;
    margin-bottom: 80px;
}

.home-services .main-service{
    margin-bottom: 30px;
}

.home-services .main-service .content{
    filter: contrast(0.8);
    -webkit-filter: contrast(0.8);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.home-services .main-service .content:hover{
    filter: contrast(1.2);
    -webkit-filter: contrast(1.2);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.home-services .content{
    transition: 0.3s ease-in-out;
    position: relative;
}

.home-services .content .btn-view-more::after{
    right: -30px;
}

.home-services .content:hover .btn-view-more::after{
    /* filter: contrast(1.2);
    -webkit-filter: contrast(1.2);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out; */
    -o-transition: 0.3s ease-in-out;
    right: -40px;
}


.home-services .item{
    padding: 0px 50px;
    color: #fff;
    bottom:30px;
    position: absolute;
}

.home-services .item h3{
    font-size: 36px;
    margin-bottom: 25px;
}

.home-services .item .btn-view-more{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 0px;
}



/* .home-services .content .btn-view-more:hover::after{
    right: -40px;
} */

/* home-glass-repair */

.home-glass-repair{
    text-align: center;
}

.home-glass-repair h2 {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: normal;
    margin: 0px !important;
}

.home-glass-repair h3{
    font-size: 100px;
    margin-bottom: 60px;
}

.home-glass-repair .eapps-widget{
    margin-top: 80px !important;
}

.home-glass-repair .eapps-widget-toolbar, .home-glass-repair .kuaJZO{
    display: none !important;
}

.home-glass-repair .glass-btn{
    background: linear-gradient(46deg,#05499c,rgba(0,0,0,0),#0aa9db);
    background-color: #05499c;
    color: #fff;
    border-radius: 0px;
    padding: 25px 80px 25px 50px;
    position: relative;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    margin-top: 35px;
}

.home-glass-repair .glass-btn:hover{
    background-color: #0aa9db;
    transition: ease .3s;
}

.home-glass-repair .glass-btn::after{
    font-family: 'fontAwesome';
    content: '\f178' ;
    margin-left: 20px;
    position: absolute;
    right: 50px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.home-glass-repair .glass-btn:hover:after{
    right: 40px;
}


.home-glass-repair .content-area {
    position: relative;
    width: 900px;
    height: 650px;
    text-align: center;
    margin: 0px auto;
    margin-top: 120px;
    margin-bottom: 80px;
}
.home-glass-repair .content-area .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-glass-repair .content-area .background-img {
    background-image: url('../img/before.png');
    background-repeat: no-repeat;
}
.home-glass-repair .content-area .foreground-img {
    background-image: url('../img/after.png');
    width: 50%;
    background-repeat: no-repeat;
}
.home-glass-repair .content-area .slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    margin: 0;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */

.home-glass-repair .content-area .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 750px;
    background: #000;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.home-glass-repair .content-area .slider::-moz-range-thumb {
    width: 8px;
    height: 600px;
    background: linear-gradient(46deg,#05499c 10%,#0aa9db 100%);
    cursor: pointer;
}
.home-glass-repair .content-area .slider-button {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(46deg,#05499c 10%,#0aa9db 100%);
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-glass-repair .content-area .slider-button:after {
    content: '';
    padding: 3px;
    display: inline-block;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}
.home-glass-repair .content-area .slider-button:before {
    content: '';
    padding: 3px;
    display: inline-block;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
}


/* home-testimonials */

.home-testimonials .testimonials-area{
    text-align: center;
    margin-left: -250px;
    color: #fff;
} 

.home-testimonials .content-top h2{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
}
.home-testimonials .content-top h3{
    font-size: 80px;
    margin: 0px;
}

.home-testimonials .container-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home-testimonials .container-flex .item-flex{
    width: 50%;
}
.home-testimonials .container-flex .item-flex.testimonials-area{
    width: 57%;
}
.home-testimonials .testimonials-area .content{
    background: #131313;
    padding: 60px 60px;
}

.home-testimonials .testimonials-area .stars ul{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.home-testimonials .testimonials-area .stars ul i{
    color: #f9b806;
    font-size: 25px;
    margin: 0 5px;
}

.home-testimonials .testimonials-area .content .owl-carousel{
    position: relative;
}

.home-testimonials .testimonials-area .content .owl-carousel .fa-quote-right{
    background: linear-gradient( 46deg,#05499c 10%,#0aa9db 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    padding: 25px 0px;
}

.home-testimonials .testimonials-area .content .owl-carousel p{
    margin-bottom: 5px;
}

.home-testimonials .testimonials-area .content .owl-carousel p.author{
    margin-top: 35px;
}

.home-testimonials .testimonials-area .content .owl-carousel .owl-dots{
    position: absolute;
    right: 0px;
    bottom: -110px;
    color: #000;
}

.home-testimonials .testimonials-area .content .owl-carousel .owl-dots .owl-dot{
    margin-top: 10px;
}

.home-testimonials .testimonials-area .content .owl-carousel .owl-dots .owl-dot span{
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.home-testimonials .testimonials-area .content .owl-carousel .owl-dots .owl-dot.active span{
    background: #131313;
}


/* manitoba-insurance */
.manitoba-insurance .content-area{
    text-align: center;
}


/* Call to Action */

.cta{
    background: linear-gradient( 46deg,#05499c 10%,#0aa9db 100%);
    /* background-image: url('../img/cta-img.png'); */
    color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    text-align: left;
    margin-left: 120px;
    margin-top: 260px;
    position: relative;
    z-index: 1;
}

.cta .content-area{
    padding: 150px 0px;
}

.cta .content-area .content{
    padding-left: 100px;
}

.cta .content-area .content h2{
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 20px;
}

.cta .content-area .content h3{
    font-size: 80px;
}

.cta .content-area .cta-img{
    position: relative;
}

.cta .content-area .cta-img img{
    position: absolute;
    top: -320px;
    right: 140px;
}
/* footer */

footer {
    background-color: #131313;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding-top: 80px;
    margin-top: -50px;
}

footer .main-footer ul {
    list-style-type: none;
    padding: 0px;
}

footer .main-footer ul.links li a{
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
footer .main-footer ul.links li a:hover{
    background: linear-gradient( 46deg,#05499c 30%,#0aa9db 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .main-footer ul li {
    margin-top: 15px;
}

footer .main-footer ul.address li{
    margin-bottom: 70px;
}

/* footer-intro */

footer .main-footer .intro p {
    font-size: 18px;
    margin-top: 50px;
}

footer .main-footer .intro img {
    width: 330px !important;
}


/* footer-contact-info */


footer .main-footer .contact-info ul.address {
    margin-left: 70px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

footer .main-footer .contact-info ul.address a:hover {
    color: #fff;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}


/* social */

footer .main-footer ul h3{
    margin-bottom: 35px;
}

footer .main-footer ul.social li {
    color: #fff;
    display: inline-block;
    margin-right: 25px;
    padding: 2px 0px;
    font-size: 30px;
    padding: 0px;
    padding-top: 5px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
footer .main-footer ul.social li a i{
    color: #fff;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
footer .main-footer ul.social li a i:hover{
    background: linear-gradient( 46deg,#05499c 30%,#0aa9db 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
/* Footer-content */

footer .footer-contact ul.contact-info{
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    border: 1px solid #2c2c2c;
    border-right: none;
    border-left: none;
}

footer .footer-contact ul.contact-info li a{
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
footer .footer-contact ul.contact-info li a:hover{
    background: linear-gradient( 46deg,#05499c 30%,#0aa9db 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .footer-contact ul.contact-info li{
    padding: 35px 0px;
}

footer .footer-contact ul.contact-info li.center-border{
    border-left: 1px solid #2c2c2c;
    height: 120px;
}

footer .footer-contact ul.contact-info li.phone::before{
    font-family: 'fontAwesome';
    content: '\f095';
    font-size: 45px;
    margin-right: 50px; 
    color: #2c2c2c;

}


footer .footer-contact ul.contact-info li.mail::before{
    font-family: 'fontAwesome';
    content: '\f0e0';
    font-size: 45px;
    margin-right: 50px;
    color: #2c2c2c;
}


footer .footer-contact ul.contact-info li a{
    font-size: 34px;
    font-family: 'Lato', sans-serif;
}

/* footer links */



/* footer- quote */

footer .main-footer .quote .btn-quote {
    background-color: #fff;
    color: #000;
    padding: 25px 30px;
    border-radius: 0px;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

footer .main-footer .quote .btn-quote::after {
    font-family: 'fontAwesome';
    content: '\f178';
    font-weight: 100;
    color: #000;
    right: 36px;
    position: absolute;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

footer .main-footer .quote .btn-quote:hover:after {
    right: 26px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

footer .main-footer .quote .btn-leasing {
    background-color: #fff;
    color: #000;
    padding: 25px 30px;
    border-radius: 0px;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

footer .main-footer .quote .btn-leasing::after {
    font-family: 'fontAwesome';
    content: '\f178';
    font-weight: 100;
    color: #000;
    right: 36px;
    position: absolute;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

footer .main-footer .quote .btn-leasing:hover:after {
    right: 26px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}


/*footer-copyright */

footer .copyright .content {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

footer .copyright .content span {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

footer .copyright .reach-logo {
    width: 150px;
}



/* About Us Page */

/*about-intro*/

.about-intro{

    background: linear-gradient(90deg, #0aa9db 0%, #05499c 28%, #fff 17%);
    padding: 100px 0px;
        
}

.about-intro .image-area img{
    margin-left: 70px;
}

.about-intro .content-area h2{
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px !important;
}

.about-intro .content-area h3{
    font-size: 100px;
    font-family: TTNorms-Bold;
    margin-bottom: 30px;
}


/*about-we-do*/

.about-we-do{
    text-align: center;
}


.about-we-do .content h2{
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px !important;
}

.about-we-do .content h3{
    font-size: 90px;
    font-family: TTNorms-Bold;
    margin-bottom: 30px;
}

.about-we-do .image-area{
    margin-top: 50px;
}

.about-we-do .image-area img{
    max-width: 100%;
}


/*about-why-choose-us*/

.about-why-choose-us{
    background: url('../img/about-us/why-choose-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 80px;
}

.about-why-choose-us .image-area img{
    margin-bottom: -90px;
}
.about-why-choose-us .content-area{
    margin-left: 70px;
}

.about-why-choose-us .content-area h2{
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px !important;
}

.about-why-choose-us .content-area h3{
    font-size: 90px;
    font-family: TTNorms-Bold;
    margin-bottom: 30px;
}


/* Services Page */

.our-services{
    text-align: left;
}

.our-services .image-area{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.our-services .content-area h2{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: normal;
    margin: 0px;
}

.our-services .content-area h3{
    font-size: 100px;
    margin-bottom: 80px;
}

.our-services .main-service{
    margin-bottom: 30px;
}

.our-services .main-service .content{
    filter: contrast(0.8);
    -webkit-filter: contrast(0.8);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.our-services .main-service .content:hover{
    filter: contrast(1.2);
    -webkit-filter: contrast(1.2);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.our-services .content{
    transition: 0.3s ease-in-out;
    position: relative;
}

.our-services .content .btn-view-more::after{
    right: -30px;
}

.our-services .content:hover .btn-view-more::after{
    transition: 0.3s ease-in-out;
    right: -40px;
}


.our-services .item{
    padding: 0px 50px;
    color: #fff;
    bottom:30px;
    position: absolute;
}

.our-services .item h3{
    font-size: 36px;
    margin-bottom: 25px;
}

.our-services .item .btn-view-more{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 0px;
}


/*FAQs Page */

.faqs .content{
    text-align: center;
}

.faqs .content h2{
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px !important;
}

.faqs .content h3{
    font-size: 90px;
    font-family: TTNorms-Bold;
    margin-bottom: 30px;
}


/*faqs*/ 

.accordion-button:not(.collapsed){
    color:#000 !important;
    background: transparent !important;
}


.accordion-button:focus{
    border-color: none !important;
    box-shadow: none !important;
}

.accordion-flush{
    margin-top: 80px;
}

.faqs .accordion-flush h2{
    margin: 0px;
}

.faqs .accordion-flush .accordion-button:not(.collapsed)::before{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.faqs .accordion-flush .accordion-button:not(.collapsed)::after{
    display: none;
}

.faqs .accordion-flush .accordion-button::before {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 10px;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") ;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button::after {
    display: none;
}

.faqs .accordion-flush .accordion-body {
    padding: 1rem 3.25rem;
}



/* Open A glass Claim Page */

.glass-claim-form .content h2{
    font-size: 100px;
    text-align: center;
}

.glass-claim-form .form-area label{
    margin-bottom: 10px;
}

.glass-claim-form .form-area .form-control{
    height: 60px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    margin-bottom: 30px;
}

.glass-claim-form .form-area textarea .form-control{
    height: 30px;
}